<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loja em Go - Alura 2024</title>
</head>
<body>
  <h1>Loja Alura com Golang</h1>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Camisa Palmeiras</td>
        <td>Camisa Palmeiras Jogador modelo 2025</td>
        <td>200</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Playstation 5</td>
        <td>Console Playstation 5 Slim</td>
        <td>5000</td>
        <td>15</td>
      </tr>
    </tbody>
  </table>
</body>
</html>